	<div class="container">
    	<div class="span16">
    		<h1 class="closer">Intentionality. That's how I became prez.</h1>
    		<%= image_tag "w_bush.png" , class:"img-circle img-close" %>
    	</div>
    </div>
    
        