    <div class="container">
    	<div class="span16">
    		<%= image_tag "w_bush.png" , class:"img-circle" %>
    		<p style="font-size:20px">Intentionality. That's how I became prez.</p>
    	</div>
    </div>