<div class="container">
    	<div class="span16">
    		
    		<h1>INTENTION/ALITY MAKES YOU MORE EFFECTIVE.</h1>
    		<p>Time to sign in to get started.</p>
    		<%= button_to 'SIGN IN' , todos_path , class:'btn btn-large btn-block' %>
    		
    	</div>
    </div>