<div class="container">
    	<div class="span16">
    		
    		<h1>INTENTION/ALITY MAKES YOU MORE EFFECTIVE.</h1>
    		<p>Time to sign in to get started.</p>
    		<a href="#" class="btn btn-large btn-block" type="button">SIGN IN</a>
    	</div>
    </div>