<div class="container">
    	<div class="span16" style="width:200px;margin:50px auto;">
    	</div>
    	<div class="span16" id="sun_image">
    		<%= image_tag "sun.png" %>
    	</div>
    </div> 
 

 	<div class="container">
    	<div class="span16">
    		<p>Good morning! Time to get intentional.</p>
    		<p>What are the three most important things you need to accomplish to make it an effective day?</p>
    		
    		<ul class="nav nav-tabs nav-stacked" style="margin-top:20px">
              <li><a href="experience_two_2.html">TASK 1<span class="icon-chevron-right pull-right"></span></a></li>
              <li><a href="experience_two_2.html">TASK 2<span class="icon-chevron-right pull-right"></span></a></li>
              <li><a href="experience_two_2.html">TASK 3<span class="icon-chevron-right pull-right"></span></a></li>
            </ul>
    		<a href="experience_two_3.html" class="btn btn-large btn-block" type="button">START MY DAY, INTENTIONALY</a>
    	</div>
    </div>
    
    
    <div class="container" style="margin-top:20px">
    	<div class="span16">    		
    		<label>Task:</label>
  				<input type="text" placeholder="Eating" class="input-large">
  			<label>Start time:</label>
  				<input type="text" placeholder="7:00 pm" class="input-large">
  			<label>End time:</label>
  				<input type="text" placeholder="10:00 pm" class="input-large">
    		<a href="experience_two_1.html" class="btn btn-large btn-block" type="button">Done</a>
    	</div>
    </div>
    
    <div class="container">
    	<div class="span16" style="width:200px;margin:50px auto;">
    		<a href="experience_two_1.html"><img src="http://placehold.it/400x400" class="img-circle"></a>
    	</div>
    	<div class="span16">
    		<p>Have a great day!</p>
    	</div>
    </div>
    
    <div class="container">
    	<div class="span16">
    		<p>Good morning! Time to get intentional.</p>
    		<p>What are the three most important things you need to accomplish to make it an effective day?</p>
    		
    		<ul class="nav nav-tabs nav-stacked" style="margin-top:20px">
              <li><a>TASK 1<input type="checkbox" class="pull-right"></a></li>
              <li><a>TASK 2<input type="checkbox" class="pull-right"></a></li>
              <li><a>TASK 3<input type="checkbox" class="pull-right"></a></li>
            </ul>
    		<a href="experience_two_3.html" class="btn btn-large btn-block" type="button">START MY DAY, INTENTIONALY</a>
    	</div>
    </div>
